.banner{
    width: 95%;
    margin: auto;
    margin-top: 30px;
}


.banner1{

}

.banner1 p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    line-height: 30px;
    margin: 0;
}

.banner2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}


.banner2 img{
    width: 300px;
    cursor: pointer;
}


.banner3{
    margin-top: 50px;
}

.banner3 p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    line-height: 30px;
    margin: 0;
}

.banner4 {
    width: 100%;
    height: 259px;
    box-shadow: 2px 2px  5px 1px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

.banner4 p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #8F8F8F;
    line-height: 24px;
    margin: 0;
}


.banner4 button{
    width: 257px;
    height: 61px;
    background-color: #F52D56;
    border: none;
    outline: none;
    border-radius: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #FFFFFF;
    line-height: 33px;
    margin: 0;
    cursor: pointer;
}


.banner5{
    width: 82px;
    height: 82px;
    border-radius: 9px;
    background-color: #F52D56;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}