.container1 {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 256px;
  flex: 0 0 auto;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.child-component {
  flex: 1;
  padding: 20px;
}

.upperbar {
  padding: 10px;
}

.sidebar-hidden .content {
  flex: 1 1 100%; 

}


@media screen and (max-width: 580px) {
  .sidebar {
    width: 60px;
    flex: 0 0 auto;
  }
  
}

