.adminprofileupdate{
    background-color: #C3052C;
    /* background-color: #000000; */
    color: #FFFFFF;
}




.adminprofileupdate55{
    margin-top: 30px;
}




.adminprofileupdate56{
    display: flex;
    align-items: center;
    gap: 20px;
}


.adminprofileupdate57{
    display: flex;
    align-items: center;
    gap: 5px;
}


